<h1 style="text-align:center; color:#2f3640;">➕ Nova Tarefa</h1>

<div style="max-width: 600px; margin: 30px auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
  <%= form_with(model: @task, local: true) do |form| %>
    <div style="margin-bottom: 15px;">
      <%= form.label :title, "Título", style: "display:block; font-weight:bold; font-size: 20px;" %>
      <%= form.text_field :title, style: "width: 100%; padding: 8px; border-radius: 5px; border: 1px solid #ccc;" %>
    </div>

    

    <div style="text-align:center;">
      <%= form.submit "Criar", style: "background-color: #737bef; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" %>
    </div>
  <% end %>

  <div style="text-align:center; margin-top: 10px;">
    <%= link_to '← Voltar', tasks_path, style: "color:#737bef; text-decoration:underline;" %>
  </div>
</div>
